astroid==2.5.1
attrs==20.3.0
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pylama==7.7.1
pylint==2.7.2
pyparsing==2.4.7
pytest==6.2.2
snowballstemmer==2.1.0
toml==0.10.2
wrapt==1.12.1
